@model List<GetAppUserVM>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:20px">

    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">List of Users</h4>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Firts Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>Image</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GetAppUserVM user in Model)
                            {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.UserName</td>
                                <td>@user.Password</td>
                                <td>@user.Role</td>
                                <td>
                                    <img src="@user.Image" width="60" />
                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Update</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@user.Id" class="btn btn-sm btn-success">Detail</a>
                                </td>
                            </tr>
}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a asp-action="Create" class="btn btn-block btn-dark">Create New AppUser</a>
                </div>
            </div>
        </div>
    </div>
</div>
