@model List<GetCategoryVM>
@{
    ViewData["Title"] = "List";
   
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">

                <div class="box-header">
                    <h4 class="card-title">List of Category</h4>
                </div>

                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                @*<th>Ip adress</th>
                                  <th>Computer Name</th>
                                  <th>create date</th>
                                  <th>Status</th>*@
                                 <th>Update</th>
                                 <th>Delete</th>
                                 <th>Detail</th>
                             </tr>
                         </thead>
                         <tbody>
                             @foreach (GetCategoryVM category in Model)
                             {
                             <tr>
                                 <td>@category.Id</td>
                                 <td>@category.CategoryName</td>
                                 <td>@category.Description</td>
                                 @*<td>@category.CreateIp</td>
                                   <td>@category.CreateComputerName</td>
                                   <td>@category.CreateDate</td>
                                   <td>@category.Status</td>*@
                                <td>
                                    <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-sm btn-outline-primary">Update</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-warning">Delete</a>
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@category.Id" class="btn btn-sm btn-success">Detail</a>
                                </td>
                            </tr>

                            }

                        </tbody>
                    </table>
                </div>

                <div class="box-footer">
                    <a asp-action="Create" class="btn btn-block btn-primary">create new category</a>
                </div>
            </div>
        </div>
    </div>
</div>
